
body{
font-family:Arial;
background:#eef5ff;
text-align:center;
margin:0;
}

header{
background:#003366;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

header a{
color:white;
margin-left:10px;
text-decoration:none;
}

.hero{
height:300px;
background:linear-gradient(#87cefa,#e0f7ff);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.services{
padding:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.box{
margin-top:80px;
background:white;
padding:30px;
display:inline-block;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

input,select,textarea{
width:250px;
padding:10px;
margin:8px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
border:none;
background:#ff6600;
color:white;
border-radius:6px;
cursor:pointer;
}
